.image {
  display: block;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.image:hover {
  transform: scale(1.03);
}
